/* COLOUR PALETTE
0a0c37 = Navy
375971 = Grey
5cecff = Light blue
ff61c6 = Pink
ff9900 = Orange
f4ff61 = Yellow
*/

html {
    box-sizing: border-box;
    display: flex;
    /* border: 1px solid yellow; */
    height: 100%;
    background-color: #0a0c37;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #0a0c37;
    color: #f4ff61;
    border: 6px double #5cecff;
    margin: 12px;
    height: 100%;
    width: 100%;
    /* FONT */
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h1,
h2 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 28px;
    margin-top: 24px;
}

button {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4ff61;
    border-radius: 5px;
    border-color: #375971;
    color: #0a0c37;
}

button:hover {
    background-color: #ff61c6;
}

button:disabled {
    background-color: #375971;
}

#scissors,
#paper,
#rock {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    width: 130px;
}

.vs {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#rounds,
#scoreBoard,
#gameOver {
    width: 600px;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

#rounds {
    /* border: 2px solid red; */
}

.playerCard,
.compCard {
    /* border: 1px dashed blueviolet; */
    height: 60px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.message {
    /* border: 2px solid olive; */
    height: 30px;
    color: #ff61c6;
    font-size: 24px;
    margin-bottom: 6px;
}

#scoreBoard {
    border: 6px double #5cecff;
    height: 100px;
}

.font {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #ff61c6;
}

/* POP UP FROM HERE */

#startGame,
#endGame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startGame.open,
#endGame.open {
    opacity: 1;
    z-index: 999;
}

.startPopUp,
.endPopUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;

    background-color: #375971;
    border: 6px double #5cecff;;
}

.startPopUp {
    width: 400px;
}

.endPopUp {
    
    width: 260px;
}
